<!-- <div class="cms-section">

  <ng-container [ngSwitch]="mappedType">

    <app-hero-banner
      *ngSwitchCase="'hero-banner'"
      [section]="section">
    </app-hero-banner>

    <app-cms-image-gallery
  *ngSwitchCase="'image-gallery'"
  [section]="section">
</app-cms-image-gallery>


    <app-featured-products
      *ngSwitchCase="'featured-products'"
      [section]="section">
    </app-featured-products>

    <app-category-grid
      *ngSwitchCase="'category-grid'"
      [section]="section">
    </app-category-grid>

    <app-promo-banner
      *ngSwitchCase="'promo-banner'"
      [section]="section">
    </app-promo-banner>

  </ng-container>

</div> -->



<div class="cms-section">

  <app-hero-banner
    *ngIf="mappedType === 'hero-banner'"
    [section]="section">
  </app-hero-banner>

  <app-cms-image-gallery
    *ngIf="mappedType === 'image-gallery'"
    [section]="section">
  </app-cms-image-gallery>

  <app-featured-products
    *ngIf="mappedType === 'featured-products'"
    [section]="section">
  </app-featured-products>

  <app-category-grid
    *ngIf="mappedType === 'category-grid'"
    [section]="section">
  </app-category-grid>

  <app-promo-banner
    *ngIf="mappedType === 'promo-banner'"
    [section]="section">
  </app-promo-banner>

</div>